/* styles for all devices */
body {
  font-size: 18px; /* increased the font size */
  text-align: center; /* centered the text */
}

/* styles for mobile devices */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* styles for desktop devices */
@media only screen and (min-width: 601px) {
  body {
    font-size: 20px; /* increased the font size */
  }
}
