.centered {
  text-align: center;
  color: white;
}

marquee {
  height: 90vh;
  width: 160vw;
  background-color: black;
  color: white;
}

body {
  background-color: black;
}
.centered {
  width: 1080px;
  height: 1920px;
}

.centered {
  font-size: 72px;
}